.audiocall__game {
  padding: 20px;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audiocall__lvls {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 15px;
  gap: 20px;
  width: 40vw;
  height: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.audiocall__lvls--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 70%;
}


.audiocall__lvls--btn {
  background-color: var(--magenta);
  border: none;  
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  font-family: inherit;
  font-size: 30px;
  color: var(--white);
}

.audiocall__lvls--btn:hover {
  background-color: var(--dark-magenta);
  transform: scale(1.1); 
}

.audiocall__lvls--btn-active {
  background-color: var(--dark-magenta);
}

.window__result {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 9px;
  position: fixed;
  top: 35px;
  right: 100px;
}

.window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.audiocall__voice-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.audiocall__words--wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.audiocall__voice {
  font-size: 100px !important;
  color: var(--black);
  cursor: pointer;
}

.smaller {
  font-size: 36px !important;
}

.smallest {
  cursor: pointer;
}

.audiocall__correct-word {
  color: var(--black);
  padding-bottom: 6px;
}

.audiocall__words {
  display: flex;
  gap: 30px;
}

.audiocall__word-btn {
  padding: 5px 10px;
  background-color: var(--light-gray);
  color: var(--black);
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.audiocall__word-btn:hover {
  background-color: var(--dark-gray);
}

.audiocall__next, .audiocall__start  {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--magenta);
  outline: none;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.2s;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.audiocall__start {
  color: var(--white);
  background-color: var(--magenta);
}

.audiocall__start:hover {
  background-color: var(--dark-magenta);
}


.audiocall__next:hover {
  transform: scale(1.05); 
}

.audiocall__results {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 40vw;
  height: auto;
  border-radius: 15px;
  align-items: center;
  padding: 20px;
}

.audiocall__results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  width: 90%;
  overflow-y: scroll;
  padding: 10px;
}

.audiocall__results h2 {
  text-align: center;
}

.audiocall__results-wrong {
  padding-bottom: 20px;
}

.audiocall__results-correct {
  padding-bottom: 20px;
}

.wrong__count {
  display: inline-block;
  background-color: #f02d2d;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  width: 40px;
}

.correct__count {
  display: inline-block;
  background-color: #84ff53;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  width: 40px;
}

.audiocall__wrong {
  display: flex;
  flex-direction: column;
}

.audiocall__correct {
  display: flex;
  flex-direction: column;
}

.audiocall__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.audiocall__word {
  padding-bottom: 4px;
}

.results__play-btn {
  align-self: center;
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  color: #fff;
  background-color: #a41268;
  outline: none;
  margin-top: 20px;
  width: 150px;
  transition: all 0.3s;
}

.results__play-btn:hover {
  background-color: #31073d;
}

.audiocall-result__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.audiocall-bar {
  width: 280px;
  height: 280px;
  position: absolute;
}

.audiocall-bar__circle {
  z-index: 4;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.audiocall-bar__circle--filled {
  z-index: 4;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 1s;
}