footer {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,18,104,1) 57%, rgba(245,255,0,1) 100%);
  font-family: 'Roboto Mono', monospace;
  height: 80px;
  color: #fff;
  text-align: center;
}

.footer__wrapper {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,18,104,1) 57%, rgba(245,255,0,1) 100%);
  font-family: 'Roboto Mono', monospace;
  height: 80px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rsschool img {
  height: 50px;
  filter: invert(100%);
  margin-left: 20px;
}

.footer__wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.github img {
  height: 20px;
  filter: invert(100%);
}

.github {
  text-decoration: none;
  color: rgba(164,18,104,1);
}

.source {
  text-decoration: none;
  color: #fff;
}
