.games__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.games__card {
  background-color: #f3f4f8;
  color: #000;
  border-radius: 15px;
  width: 15%;
  height: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: all .2s;
}

.games__card:hover{
  transform: scale(1.05); 
}

.games {
  background-color: #ffffff;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.games h3 {
  text-align: center;
}
