.sprint__modal, .audiocall__modal {
  background: var(--gradient);
  background-size: 600% 600%;
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: gradient 15s ease infinite;
  overflow: hidden;

  transition: opacity .2s;
}

@keyframes gradient {
  0% {background-position: 0% 50%}
  50%{background-position: 100% 50%}
  100%{background-position: 0% 50%}
}

.sprint__load-screen, .audiocall__load-screen {
  z-index: 4;
  position: fixed;
}

.spinner {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--white);
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.spinner {
  animation: rotate 3s linear infinite;
}
.bubble-1, 
.bubble-2 {
  animation: bounce 3s ease-in-out infinite;
}
.bubble-2 {animation-delay: -1.0s;}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

.sprint__close-btn, .audiocall__close-btn {
  background-color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  cursor: pointer;
}

.sprint__close-btn:hover, .audiocall__close-btn:hover {
  transform: scale(1.2); 
}