.hero {

  color: var(--white);
  background: var(--gradient);
}

.hero__wrapper {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  height: 70vh;
  margin: 0 auto;

}

.hero__img {
  max-height: 75vh;
  max-width: 50vw;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 25%;
}

@media (max-width: 1200px) {
  .hero__wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .hero__text {
    text-align: center;
    margin-top: 40px;
  }

  .hero__img {
    max-width: 70vw;
  }

}