.sprint__lvl {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 15px;
  gap: 20px;
  width: 40vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.lvls__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 70%;
}


.lvls__btn {
  background-color: var(--magenta);
  border: none;  
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
  font-family: inherit;
  font-size: 30px;
  color: var(--white);
}

.lvls__btn:hover {
  background-color: var(--dark-magenta);
  transform: scale(1.1); 
}

.window__result {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 9px;
  position: fixed;
  top: 35px;
  right: 100px;
}

.window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.sprint__game {
  z-index: 5;
}

.words__count {
  width: 80px;
  height: 24px;
  background-image: url('../assets/sprint0.png');
  background-repeat: no-repeat;
}

.words__price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--white);
}

.words__word {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.sprint__word {
  font-size: 60px;
}

.sprint__right, .sprint__wrong {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  color: var(--black);
  background-color: var(--green);
  outline: none;
  transition: all 0.2s;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.sprint__wrong {
  background-color: var(--red);
}

.sprint__right:hover, .sprint__wrong:hover {
  transform: scale(1.05); 
}

.countdown {
  font-size: 30px;
  color: var(--white);
}

.sprint__results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 35vw;
  height: auto;
  border-radius: 15px;
  padding: 20px;
}

.results__words {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 35vh;
  width: 90%;
  overflow-y: scroll;
  padding: 10px;
}

.results__words--wrong {
  max-width: 50%;
}

.results__words--correct {
  max-width: 50%;
}


.sprint__results h2 {
  text-align: center;
}

.wrong__count {
  display: inline-block;
  background-color: var(--red);
  text-align: center;
  border-radius: 10px;
  color: var(--white);
  width: 40px;
}

.correct__count {
  display: inline-block;
  background-color: var(--green);
  text-align: center;
  border-radius: 10px;
  color: var(--white);
  width: 40px;
}

.results__play-btn,
.results__try-again-btn {
  align-self: center;
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  color: var(--white);
  background-color: var(--magenta);
  outline: none;
  margin-top: 20px;
  width: 150px;
  transition: all 0.3s;
}

.results__play-btn:hover,
.results__try-again-btn:hover {
  background-color: var(--dark-magenta);
}

.sprint__timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer__ring {
  width: 700px;
  height: 700px;
}

.ring__circle {
  z-index: 4;
}

.ring__circle--filled {
  z-index: 4;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.result__bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.bar {
  width: 280px;
  height: 280px;
  position: absolute;
}

.bar__circle {
  z-index: 4;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.bar__circle--filled {
  z-index: 4;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 1s;
}