.textbook {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}

.scroll-btn {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #fff;
  background-color: #a41268;
  outline: none;
  transition: all 0.3s;
  line-height: 90px;
}

.scroll-btn:hover {
  background-color: #31073d;
}

.textbook__sections {
  display: flex;
  flex-direction: row;
justify-content: center;
gap: 10px;
align-items: center;
}

.textbook__section {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
  color: rgb(182, 182, 182);
  cursor: pointer;
  transition: all 0.2s;
}

.textbook__section:hover {
  color: #000000;
}

.section--active {
  color: #000;
  cursor: auto;
}


.textbook__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbook__lvls {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 20px;
}

.lvl__card {
  background-color: rgba(164,18,104,1);
  font-family: 'Roboto Mono', monospace;
  border-radius: 15px;
  width: 170px;
  height: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  opacity: 30%;
  transition: all 0.2s;
}

.lvl__card:hover, .picked {
  opacity: 100%;
}

.lvl__card--left {
  text-align: center;
  padding-left: 20px;
}

.lvl__card--right {
  background-color: black;
  color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  line-height: 50px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textbook__pagination {
  margin: 20px auto;
}

.pagination__list {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pagination__btn {
  color: rgb(0, 0, 0);
  background-color: #e6e7eb;
  border-radius: 10px;
  height: 32px;
  padding: 0 5px;
  text-align: center;
  line-height: 29px;
  cursor: pointer;
  transition: all 0.2s;
}

.pagination__btn:hover {
  background-color: #B6B6B6;
}

.page-count-btn {
  cursor: default;
}

.disabled-btn {
  cursor: default;
  color: #fff;
}

.page-count-btn:hover, .disabled-btn:hover {
  background-color: #e6e7eb;
}

.textbook__words, .learned__words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px 20px;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 330px);
}

.words__card {
  display: flex;
  flex-direction: row;
  width: 48%;
  min-height: 300px;
  border-radius: 15px;
  background-color: #f3f4f8;
}

.card--learned {
  background-color: rgb(226, 207, 218);
}

.listen {
  cursor: pointer;
}

.word__img {
  width: 35%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.word__text {
  width: 65%;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word__title {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.word__title--top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  transition: all 0.3s;
}

.word__translate {
  color: rgb(92, 92, 92);
}

.word__audio {
  cursor: pointer;
}

.audio-active {
  color: #fff;
  background-color: #a41268;
  border-radius: 10px;
  padding: 5px 0;
}

.word__btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.word__games {
  display: flex;
  flex-direction: column;
}

.word__btns--learned, .word__btns--hard, .word__btns--delete {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font: inherit;
  cursor: pointer;
  color: #000;
  background-color: #e6e7eb;
  outline: none;
  transition: all 0.3s;
  width: auto;
}

.word__btns--learned:hover, .word__btns--hard:hover, .word__btns--delete:hover {
  background-color: #B6B6B6;
}

.word__btns--checked {
  background-color: #a41268;
  color: #fff;
}

.word__btns--checked:hover {
  background-color: #31073d;
}

.learned__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 245px);
}

.textbook-learned {
  opacity: 30%;
}